<h1> Battle! </h1>
<h2> Sign in to play </h2>
<form action="/names" method="post">
  <div>
    <label for="player_one">Player one:</label>
    <input type="text" name="player_one">
    </div>
    <div> 
    <label for="player_two">Player two:</label>
    <input type="text" name="player_two">
    </div>
    <div>
    <input type="submit" value="Submit">
    </div>
    </form>
