<h1> Battle! </h1>
Player one's name is <%= @player_one %>  
<br> </br>
Points = <%= @player_one_health %>
<br> </br>
Player two's name is <%= @player_two %> 
<br> </br>
Points = <%= @player_two_health %>

<div>
<form action="/attacked" method="get">
<input type="submit" value="Attack P2"> </form>
</div>